@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}

:root {
  --white: #FFF;
  --whitesmoke: #F9F9F9;
  --light-grey: #ECECEC;
  --grey: #C4C4C4;
  --medium-grey: #A7A7A7;
  --deep-grey: #343434;
  --black: #000000;
  --red: #CF3C3F;
}

html {
  background-color: var(--red)
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: clamp(35px, 8%, 70px);
}

.calculadora {
  width: 30%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--medium-grey);
  border-radius: 10px;
  max-width: 500px;
  min-width: 50vh;
  min-height: 80vh;

}

.title {
  margin-top: 50px;
  margin-bottom: 4.5px;
  font-size: 3em;
  font-weight: 600;
}
.order {
  margin-bottom: 50px;
}

input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

.input {
  width: 100%;
  background-color: var(--light-grey);
  border: none;
  border-radius: 5px;
  outline: none;
  font-size: 15px;
  padding: 12px 5px 10px;
  font-weight: 600;
  color: var(--deep-grey);
}

p {
  margin: 10px;
  font-size: 2em;
}

.botao {
  width: 200px;
  height: 30px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  margin: 10px;
  margin-bottom: 50px;
  min-width: 200px;
  min-height: 40px;
  background-color: var(--light-grey);
  transition: background 200ms;
}

button:hover{
  background: var(--whitesmoke);
}

h3 {
margin: 10px;
margin-left: 0px;
}

.links {
  margin-top: 80px;
}

h4 {
  width: 100%;
  margin: 10px;
}

.github {
  margin-right: 10px;
  margin-left: 8px;
  width: 55px;
}

.linkedin {
  filter: invert(100);
}
